<a href="https://colab.research.google.com/github/niteshydv01/Python-AI-Assaignment/blob/main/Assaignment1_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A class with 10 students wants to produce some information from the results of the four standard
tests in Maths, Science, English and IT. Each test is out of 100 marks. The information output
should be the highest, lowest and average mark for each test and the highest, lowest and average
mark overall. Write a program in Python to complete this task.

In [ ]:
maths_marks = []
science_marks = []
english_marks = []
it_marks = []

for _ in range(10):
    maths = int(input("Enter Maths marks: "))
    maths_marks.append(maths)

    science = int(input("Enter Science marks: "))
    science_marks.append(science)

    english = int(input("Enter English marks: "))
    english_marks.append(english)

    it = int(input("Enter IT marks: "))
    it_marks.append(it)

maths_highest = max(maths_marks)
maths_lowest = min(maths_marks)
maths_average = sum(maths_marks) / len(maths_marks)

science_highest = max(science_marks)
science_lowest = min(science_marks)
science_average = sum(science_marks) / len(science_marks)

english_highest = max(english_marks)
english_lowest = min(english_marks)
english_average = sum(english_marks) / len(english_marks)

it_highest = max(it_marks)
it_lowest = min(it_marks)
it_average = sum(it_marks) / len(it_marks)

all_marks = maths_marks + science_marks + english_marks + it_marks
overall_highest = max(all_marks)
overall_lowest = min(all_marks)
overall_average = sum(all_marks) / len(all_marks)

print("Maths - Highest:", maths_highest, "Lowest:", maths_lowest, "Average:", maths_average)
print("Science - Highest:", science_highest, "Lowest:", science_lowest, "Average:", science_average)
print("English - Highest:", english_highest, "Lowest:", english_lowest, "Average:", english_average)
print("IT - Highest:", it_highest, "Lowest:", it_lowest, "Average:", it_average)
print("Overall - Highest:", overall_highest, "Lowest:", overall_lowest, "Average:", overall_average)

Write a Python Program to input basic salary of an employee and calculate its Gross salary
according to following: Basic Salary <= 10000 : HRA = 20%, DA = 80% Basic Salary <= 20000
: HRA = 25%, DA = 90% Basic Salary > 20000 : HRA = 30%, DA = 95%.

In [ ]:
basic_salary = float(input("Enter the basic salary of the employee: "))

if basic_salary <= 10000:
    hra_percentage = 0.20
    da_percentage = 0.80
elif 10000 < basic_salary <= 20000:
    hra_percentage = 0.25
    da_percentage = 0.90
else:
    hra_percentage = 0.30
    da_percentage = 0.95


hra = basic_salary * hra_percentage
da = basic_salary * da_percentage
gross_salary = basic_salary + hra + da

print("Total salary is",gross_salary)

Enter the basic salary of the employee: 5000
Total salary is 10000.0

Write a Python program to check the validity of password input by users.

Validation:
 At least 1 letter between [a-z] and 1 letter between [A-Z].
 At least 1 number between [0-9].
 At least 1 character from [$#@].
 Minimum length 6 characters.
 Maximum length 16 characters.

In [ ]:
password = input("Enter your password: ")
if len(password) < 6:
    print("Password is too short. Minimum length is 6 characters.")
elif len(password) > 16:
    print("Password is too long. Maximum length is 16 characters.")
elif not any(char.islower() for char in password):
    print("Password must contain at least 1 lowercase letter.")
elif not any(char.isupper() for char in password):
    print("Password must contain at least 1 uppercase letter.")
elif not any(char.isdigit() for char in password):
    print("Password must contain at least 1 digit.")
elif not any(char in ['$','#','@'] for char in password):
    print("Password must contain at least 1 special character from [$,#,@].")
else:
    print("Password is valid.")

Enter your password: 4567acA@
Password is valid.

Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

(i) WAP to add 200 and 300 to L.
(ii) WAP to remove 10 and 30 from L.
(iii) WAP to sort L in ascending order.
(iv) WAP to sort L in descending order.

In [ ]:

L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("List after adding 200 and 300:", L)

L.remove(10)
L.remove(30)

print("List after removing 10 and 30:", L)

L.sort()

print("List sorted in ascending order:", L)

L.sort(reverse=True)

print(" List sorted in descending order:", L)

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
 List sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

D is a dictionary defined as D= {1:”One”, 2:”Two”, 3:”Three”, 4: “Four”, 5:”Five”}.

(i) WAP to add new entry in D; key=6 and value is “Six”
(ii) WAP to remove key=2.
(iii) WAP to check if 6 key is present in D.
(iv) WAP to count the number of elements present in D.
(v) WAP to add all the values present D.

In [ ]:
 D= {1:"One", 2:"Two", 3:"Three", 4: "Four", 5:"Five"}
 D[6]="Six"
 D
 del D[2]
 D
 print("6 is present in D",6 in D)
 print("length of D is",len(D))

6 is present in D True
length of D is 5

WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers

In [ ]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
print("Odd numbers:", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

even_numbers = [num for num in random_numbers if num % 2 == 0]
print("Even numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

prime_numbers = []
for num in random_numbers:
    if num > 1:
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_numbers.append(num)

print("Prime numbers:", prime_numbers)
print("Count of prime numbers:", len(prime_numbers))

Odd numbers: [607, 481, 449, 257, 175, 329, 883, 501, 573, 595, 283, 795, 539, 359, 791, 323, 591, 583, 783, 807, 567, 243, 551, 565, 505, 825, 547, 193, 695, 643, 579, 483, 407, 183, 401, 789, 879, 167, 889, 799, 351, 751]
Count of odd numbers: 42
Even numbers: [366, 516, 160, 326, 626, 472, 894, 372, 220, 172, 352, 622, 420, 514, 672, 686, 672, 896, 584, 170, 118, 572, 268, 420, 134, 520, 754, 802, 576, 690, 142, 224, 144, 108, 126, 446, 772, 130, 814, 416, 416, 866, 588, 552, 894, 296, 400, 370, 204, 122, 180, 274, 332, 488, 180, 206, 836, 436]
Count of even numbers: 58
Prime numbers: [607, 449, 257, 883, 283, 359, 547, 193, 643, 401, 167, 751]
Count of prime numbers: 12

(i) Write a function which takes principal amount, interest rate and time. This function returns
compound interest. Call this function to print the output.
(ii) Save this function (as a module) in a python file and call it in another python file.

In [ ]:
import compound
print(compound.ci(40000,5,40,5))

-39993.15152480378